body{background-color:#d5fdfc;}
h1, h3, h4, p, h5, td, tr, caption{color: midnightblue; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
p{color: midnightblue; text-align: justify;}
label{color: midnightblue; text-align: left;}